[submodule "wheels/cachetools"]
	path = wheels/cachetools
	url = git@cd.splunkdev.com:phantom-external/cachetools.git
	ignore = dirty
[submodule "wheels/google-auth"]
	path = wheels/google-auth
	url = git@cd.splunkdev.com:phantom-external/google-auth.git
	ignore = dirty
[submodule "wheels/googleapiclient_wheel"]
	path = wheels/googleapiclient_wheel
	url = git@cd.splunkdev.com:phantom-external/googleapiclient_wheel.git
	ignore = dirty
[submodule "wheels/httplib2_wheel"]
	path = wheels/httplib2_wheel
	url = git@cd.splunkdev.com:phantom-external/httplib2_wheel.git
	ignore = dirty
[submodule "wheels/oauth2client_wheel"]
	path = wheels/oauth2client_wheel
	url = git@cd.splunkdev.com:phantom-external/oauth2client_wheel.git
	ignore = dirty
[submodule "wheels/uritemplate_wheel"]
	path = wheels/uritemplate_wheel
	url = git@cd.splunkdev.com:phantom-external/uritemplate_wheel.git
	ignore = dirty
